:host ::ng-deep ul {

  li:first-child {
    a {
      border-radius: 50px 0 0 50px;
    }
  }

  li:last-child {
     a {
      border-radius: 0 50px 50px 0;
    }
  }
}

nb-tabset {
  max-width: 500px;
  padding: 0 2px;
}

.todo-list-column {
  display: flex;
  justify-content: center;
}
